body {
  font-family: "Montserrat-bold";
  text-align: center;
}

/* title */
h1 {
  font-family: "Montserrat-black";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

h3 {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

h2 {
  color: #fff;
}

.colored {
  background-color: #ff4c68;
}

.whited {
  background-color: #fff;
}

.row {
  margin: 15px;
  padding: 3.5rem;
}

.container {
  padding: 3% 15%;
}

.rotated {
  transform: rotate(35deg);
  position: absolute;
  width: 25%;
}

/* features */
#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: "Ubuntu";
}

.navbar-nav {
  font-family: 'Indie Flower', "cursive";
}

.btn {
  margin: 15px;
}

.faicons {
  color: #cf3172;
  margin: auto;
}

.faicons:hover {
  color: red;
}

/* testimonials */
#testimonials {
  padding-bottom: 50px;
}

.carousel-item {
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

.dog-profile {
  width: 10%;
  padding-top: 10px;
  border-radius: 100%;
}

.testimonial-image {
  border-radius: 100%;
}

/* press */
#press {
  padding-bottom: 50px;
  text-align: center;
}

.press-images {
  width: 10%;
}

/* pricing */
#pricing {
  font-family: "Montserrat-black";
  padding-left: 15px;
}

#pricing h2 {
  color: black;
  font-weight: bold;
}

/* Call to Action */
#cta {

  padding: 7% 35%;
}

#cta h3{
  color: #fff;
  margin-bottom: 5%;
}

/* footer */
#footer {
  text-align: center;
  padding: 7% 35%;
}

.futa{
  margin: 5%;
}

@media only screen and (max-width: 800px) {
  .rotated {
    transform: rotate(0deg);
    position: static;
    width: 75%;
  }

  #testimonials {
    font-family: 'Indie Flower', "cursive";
  }

  .dog-profile {
    width: 25%;
  }

  em {
    font-size: 15px;
  }
}
